# 1. Borrar .example del nombre de este archivo.
# 2. Introducir la informacion en los siguientes campos.

DATABASE_URL=#URL de la base de datos

DB_USER=#Usuario de la DB
DB_PASSWORD=#Contraseña de la DB
DB_NAME=#Nombre de la DB

SECRET_KEY=#Contraseña para generar token JWT
ALGORITHM=#Tipo de algoritmo
ACCESS_TOKEN_EXPIRE_MINUTES=#Tiempo de expiracion

ALLOWED_ORIGINS=#*

RAWG_API_KEY=#API Key de RAWG